{% extends "base_single.html" %}
{% load recordingtags %}
{% block body_id %}id="home"{% endblock %}
{% block body_class %}simple single{% endblock body_class %}
{% block pageintro %}
<div id="pageintro" class="group">

<h1>An archive of Scottish music</h1>
<p>Recordings range from near-studio quality to crowded and noisy house sessions, from digital media to old bits of tape, vinyl and 78s.</p>
<p>Straight-from-the-heart stuff by musicians who never recorded commercially, and old material performed by the stars of the day. <a href="/faq/">Read&nbsp;more&hellip;</a></p>
</div>
{% endblock pageintro %}

{% block content %}

{# <div id="monoSlideshow" class="pic"><img  src="/static/artists/agnes.jpg" alt="agnes with mandolin"/></div> #}
{#  #}
{# <script type="text/javascript"> #}
{#     // <![CDATA[ #}
{#     var so = new SWFObject("media/ss/monoslideshow.swf", "SOmonoSlideshow", "200", "272", "7", "#ffffff"); #}
{#     so.addParam("base", "media/ss/"); #}
{#     so.addVariable("showLogo", "false"); #}
{#     so.write("monoSlideshow"); #}
{#     // ]]> #}
{# </script> #}

<div class="section group">
    <div class="article grid_4 alpha">
        <h3>Latest recordings</h3>
        
        {% get_latest recordings 10 as latest_recordings %}

        {% if latest_recordings %}
            <ul>
            {% for i in latest_recordings %}
              <li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li>
            {% endfor %}
            </ul>
            <p><a href="{% url recordings-latest %}">more &hellip;</a></p>
        {% endif %}
        
        
    </div>
    <div class="article grid_4 ">
        <h3>Latest performers</h3>
        {% get_latest artists 10 as latest_artists %}

        {% if latest_artists %}
            <ul>
            {% for i in latest_artists %}
              <li><a href="/performers/{{ i.slug }}/">{{ i.full_name }}</a></li>
            {% endfor %}
            </ul>
            <p><a href="{% url performers-latest %}">more &hellip;</a></p>
        {% endif %}
    </div>
    <div class="article grid_4 omega">
        <h3>RareTunes collections</h3>

        {% get_latest collections 10 as latest_collections %}
        {% if latest_collections %}
            <ul>
            {% for i in latest_collections %}
              <li><a href="{% url collection i.slug %}">{{ i.title }}</a></li>
            {% endfor %}
            </ul>
            <p><a href="{% url collections %}">all collections &hellip;</a></p>
        {% else %}
        
        <p>We are working on a new feature for RareTunes. <em>Collections</em> will hold playlists, albums, and recordings &amp; performers, composers from particular sources or grouped round a theme. Stay raretuned for more details.</p>
        {% endif %}
        
        {# <ul> #}
        {#   <li><a href="">Ferguson's Auld Reikie</a></li> #}
        {#   <li><a href="">Bernard Ponsonby Archive</a></li> #}
        {#   <li><a href="">Religious Music</a></li> #}
        {# </ul> #}
    </div>

</div>

<div class="section group">
<div class="article grid_4 alpha"><h3>Hear the tunes</h3>

<p>You can listen to all the music on this site, just:</p>
<ul>
<li>click on the play link for each recording</li>
<li>go to its page on <a href="http://archive.org">archive.org</a> via the information link</li>
<li>use the <a href="http://songbirdnest.com">Songbird web player</a></li>
</ul>
<p>We show links to MP3 files in the recording lists, so you can use other software to download- try the <a href="http://songbirdnest.com">Songbird web player</a> which will let you download into your own library or make playlists of your favourite <em>Rare</em>Tunes.</p>
</div>

<div class="article grid_4"><h3>Rare?</h3>
    <p>In modern Scots, 'rare' is often used to mean something really enjoyable. The <a href="http://www.dsl.ac.uk/dsl/">Dictionary of the Scots Language</a> quotes Ian Rankin in 'Black and Blue' (1999) writing: <quote>"Jings, but it was rare to be home."</quote></p>
    <p>If you would like to contribute, then please <a href="/contact/">get in touch</a>. Raretunes started in 2006, and is developed and maintained by <a href="/performers/derek-hoy/">Derek Hoy</a> and <a href="/performers/eydmann">Stuart Eydmann</a> without any external funding.</p>
    <p>The web site code is now <a href="http://github.org/snowcloud/raretunes">open source</a>.</p>
</div>
    
<div class="article grid_4 omega"><h3>Creative Commons</h3>
<a href="http://archive.org"><img class="pic" src="static/images/cc_01.png" alt="Archive.org logo"/></a>
<p><quote>"Creative Commons provides free tools that let authors, scientists, artists, and educators easily mark their creative work with the freedoms they want it to&nbsp;carry."</quote></p>

<p>Most of the recordings here are made available under <a href="http://creativecommons.org/">Creative Commons</a> licences, allowing you to copy them freely for your enjoyment- most only restrict commercial use without getting the owner's agreement.</p>

<p>Our recordings are archived on <a href="http://archive.org/">the Internet Archive</a>.</p>
</div>

</div>
{% endblock content %}

