/* 
Title:		Master styles for screen media
Author: 	dan@simplebits.com
*/


* {
    margin: 0;
    padding: 0;
}

body { 
	color: #212121;
	margin-top: 30px;
    min-width: 850px;
	font: 14px/1.4 "myriad-pro-1","myriad-pro-2",Trebuchet MS,Verdana, Tahoma, Arial, sans-serif; 
	background: #f0ffee none no-repeat; }
body.simple p { padding: 5px 10px; }
	
h1, h2, h3, h4 {
	font-family: "myriad-pro-1","myriad-pro-2",Trebuchet MS,sans-serif;
	font-weight: normal;
	color: #5e5e5e;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); font-style: normal; }
h1 { font-size: 45px; }
h2 { font-size: 36px; }
h3 { font-size: 24px; }

/*a, a:visited { border-bottom: 1px dotted #919191; }*/
a:hover { background-color: #cdd1e5; border-bottom: 1px solid #202042; }
.media { text-align: center; background-color: #636370; padding: 12px; margin-bottom: 20px; }
.media a, .media a:hover, .media a:visited { color: #fffeff; }

/* positions skip nav off screen until tabbed into 
	
*/
#skip a, #skip a:hover, #skip a:visited { position:absolute; left:0px; top:-500px; width:1px; height:1px; overflow:hidden; }
#skip a:active, #skip a:focus { position:static; width:auto; height:auto; }

#header { 
	background: #202042 none repeat scroll 0 0;
	color: white;
	heightx: 4.8em;
	padding-top: 50px;	
	position: relative; padding-bottomx: 60px; border-right-style: none; border: 2px solid #d5d5d5; border-right-width: 0; margin: 0 0 20px 6%; }
#header a, #header a:hover, #header a:visited { color: white; text-decoration: none; border-style: none; }
#header img { 
float: left; margin-top: -24px; }
#header h1 { 
	display: inline;
	floatx: left;
	font-size: 65px;
	text-decoration: none;
	text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); 
	padding: 0 30px 20px 20px;
	margin: 0; color: #ffffff; font-weight: normal; line-height: 90%; }

#header h1 em { letter-spacing: -2px; font: italic 98% Georgia, "Times New Roman", Times, serif; }
#headercontents {
	border-top: 2px solid #656787;
	margin-top: 20px; }
#sitenav  {
	background-color: #f50; padding-top: 5px; padding-bottom: 10px; }
#sitenav li { 
	display: inline;
}
#sitenav a {
    font-size: 1.4em;
    padding: 0em 16px;
    font-weight: bold;
}
#sitenav a:hover { background-color: #ca4400; }
#headercontents .search { float: right; top: -2.5em; position: relative; padding-right: 10px; }
#usernav { background: #fffeff;
	margin-top: 2.6em; margin-left: 40px; padding: 10px; }
.rgba #usernav { background: rgba(255,254,255,0.4);}
#usernav li { 
	display: inline;
	padding-right: 2em;
}
#usernav a, #usernav a:hover, #usernav a:visited  { color: #5e5e5e}

#main {
	max-width: 735px; background-color: #ffffff; margin-left: 6%; border: 1px solid #d5d5d5; border-right-style: none; padding: 0 260px 0 0; }
.single #main {
	padding: 0 40px 0 6%;
	max-width: 935px;
 }

#pageintro {
	background-color: #fcfeff; margin: 0 -224px 50px 40px; padding: 8px; }
#pageintro h1 {
    font-size: 36px;
    letter-spacing: -0.02em;
    margin: 0;
}
#pageintro p {
    font-family: georgia;
    font-size: 20px;
    font-style: italic;
    margin: 0; padding-top: 0.6em; }
    
#pageintro a, #pageintro a:hover, #pageintro a:visited  { color: #325e90; text-decoration: none; }
#home #pageintro { background: #fffeff url(../artists/agnes.jpg) no-repeat right center;
padding-right: 200px; }
#maincontent {
    float: left;
    width: 89%; 
    padding: 0 2.5% 40px 40px;  }
#sidebar { 
	display: inline;
    float: right;
    margin-right: -224px;
    width: 224px;
}
#sidebar .form {
	background-color: #d8e1e7;
	padding: 6px 6px 26px; margin-bottom: 26px; }
#sidebar .form a, #sidebar .form a:hover, #sidebar .form a:visited{ color: #5e5e5e; text-decoration: none; border-bottom: 1px dotted #919191; }

#sidebar .links a, #sidebar .links a:hover, #sidebar .links a:visited  {
	color: #797979; text-decoration: none; xborder-bottom: 1px dotted #919191; }
#sidebar .links li { border-bottom: 1px solid #eaeaea; padding-bottom: 10px; padding-top: 5px; }
#maincontent .section { border: 1px solid #d5d5d5; }
.article {
	background-color: #f9f9f9; padding: 6px;  }
.article h1 { font-size: 28px; padding-bottom: 0.5em; }
.article h2, .article h3 { font-size: 22px; padding-bottom: 0.5em; }
.article p { line-height: 160%; padding-bottom: 1em; margin-bottom: 1em; }
.article a, .article a:visited  { color: #325e90; text-decoration: none; border-bottom: 1px dotted #919191;}
.article a:hover { background-color: #cdd1e5; border-bottom: 1px solid #202042; }
/*.article p a, .article p a:hover, .article p a:visited { border-bottom: 1px dotted #919191;}*/
.article img { float: right; padding: 6px 6px 20px 20px; }
.article ul { list-style-type: disc; padding-left: 20px; padding-bottom: 10px; }
.article .info { background-color: #eaecec; padding: 10px 20px; margin: 10px; }

.article ul.tags { margin: 0pt; padding: 0pt; display: inline; font-size: 90%; color: #330062; list-style-type: none; list-style-image: none; list-style-position: outside; }
.article ul.tags li { margin: 0pt; padding: 0pt; background: transparent none repeat; display: inline; list-style-type: none; }
.article ul.tags li + li:before {
  content: ", ";
  margin-left: -0.35em;
}
.article ul.tags li a { border-color: rgb(204, 204, 153); color: #888899; }
.article ul.tags li a:hover { color: rgb(255, 255, 255); background-color: #888899; }

ol.recordings { margin-top: 10px; }
.recordings li {
  background: url(/static/images/notes_dim.gif) no-repeat left 0.5em;
  clear: both; padding: 0.5em 20px; }
.recordings li.playing { background-color: #d9e3eb; background-image: url(../images/notes.gif); }
.recordings li p {
  padding: 0px; margin: 0; line-height: 100%; }
.mp3link, .recordinginfo { font-size: 80%; color: #888899; }
.recordings p.title a { border-bottom-style: none; }
.recordings div.recording_info { color: #d5d5d5; }
.recordings div.recording_info a, .recordings div.recording_info a:visited { color: #8888a8; }
.pagination { padding: 10px; background-color: #eaeaea; margin-bottom: 20px; margin-top: 10px; }
.pagination .disabled { color: #919191; }
.pagination .page { padding: 0 0.5em; }
.pagination .current { font-weight: bold; font-size: 120%; color: #6c6b8d; }
.pagination a { text-decoration: none; border-bottom-style: none; }

.aside { border: 1px dotted #eaeaea; margin-bottom: 25px; padding: 5px; background-color: #f9f9f9; }
.aside h3 {
    font-size: 22px;
	xcolor: #5e5e5e;
}
quote, .quote{ font-style: italic; color: #5e5e5e; }
#footer {
	background: #202042 none repeat scroll 0 0;
    border-top: 13px solid #f50;
    clear: both;
    color: #d5d5d5;
    height: 1%;
    margin: 45px 0 0 6%;
    padding: 25px 14% 50px 64px;
    position: relative;}
.rgba #footerx { 
	background: none repeat scroll 0 0 rgba(38, 38, 38, 0.85);
}
#footer a, #footer a:hover, #footer a:visited { color: white; text-decoration: none; border-bottom: 1px dotted #919191; }
#footer a:hover { background-color: #c94213; }


/* self-clear floats */

.group:after {
	content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
    }