{% extends "recordings/recording_base.html" %}
{% load markup recordingtags tagging_tags %}

{% block title %}{{ object.name }}{% endblock %}

{% block js_docready %}
    // Setup the player to autoplay the next track
    var a = audiojs.createAll({
      trackEnded: function() {
      // NB THIS IS DIFFERENT BECAUSE OF NESTED LISTS
        var next = $('li.playing').next();
        if (!next.length) next = $('li.recording').first();
        next.addClass('playing').siblings().removeClass('playing');
        audio.load(next.attr('data-src'));
        audio.play();
      }
    });
    // Load in the first track
    var audio = a[0];
    first = $('li.recording').attr('data-src');
    $('li.recording').first().addClass('playing');
    audio.load(first);
    // Load in a track on click
    $('li.recording a.track').click(function(e) {
      e.preventDefault();
      $('li.recording').removeClass('playing');
      $(this).parent().parent().addClass('playing');
      audio.load($(this).parent().parent().attr('data-src'));
      audio.play();
    });
{% endblock %}

{% block body %}id="tags_nav"{% endblock %}

{% block content %}

<div class="article">

<h1>{{ object.name|capfirst }}</h1>

{{ object.description|textile }}

{% tagged_objects object in recordings.artist as artists %}

    {% if artists %}
    
    <h2>Performers: </h2>
    
        <audio preload="none"></audio> 
    
          <ol class="performers">
            {% for artist in artists %}
                <li class="performer"><a class="performername" href="/performers/{{ artist.slug }}/">{{ artist.full_name }}</a>
                    {% show_also_artist_tags  %}
                                  
                  {% if artist.performers.all %}
                      <ol class="recordings">
                          {% for o in artist.performers.all %}
                              {% if o.published %}
                                {% show_recording o %}
                              {% endif %}
                         {% endfor %}
                      </ol>
                  
                  {% else %}
                      {# <p>-</p> #}
                  {% endif %}
                </li>
            {% endfor %}
          </ol>
    {% else %}
    <p>No performers found for this.</p>
    {% endif %}


    {# {% if object.recording_set.all %} #}
    {# <h2>All Recordings: </h2> #}
    {#   <ul> #}
    {#     {% for o in object.recording_set.all %} #}
    {#         {% if o.published %} #}
    {#         <li>{{ o|track_link }} - {% for p in o.performers.all %}<a href="/performers/{{ p.slug }}/">{{ p.full_name }}</a>{% if not forloop.last%}, {% endif %}{% endfor %} #}
    {#           {% ifnotequal o.tags.count 1 %}<small>&nbsp; also under:</small> #}
    {#             <ul class="tags"> #}
    {#             {% for t in o.tags.all %} #}
    {#               {% ifnotequal object t %} #}
    {#                 <li><a href="/tags/{{ t.slug }}/">{{ t.name }}</a>{% if not forloop.last%}, {% endif %}</li> #}
    {#               {% endifnotequal %} #}
    {#             {% endfor %} #}
    {#             </ul> #}
    {#           {% endifnotequal %} #}
    {#         </li> #}
    {#         {% endif %} #}
    {#     {% endfor %} #}
    {#   </ul> #}
    {# {% endif %} #}

</div>

{% endblock %}
