{% extends "recordings/recording_base.html" %}
{% load markup recordingtags tagging_tags %}

{% block title %}{{ object.name }}{% endblock %}

{% block js_docready %}
    // Setup the player to autoplay the next track
    function get_next() {
        var current = $('li.playing');
        var id = current.attr('id');
        id = parseInt(id.slice(4)) + 1;
        {# console.log(id); #}
        current.removeClass('playing');
        return $('#rec_' + id);
    } 
    var a = audiojs.createAll({
      trackEnded: function() {
      // NB THIS IS DIFFERENT BECAUSE OF NESTED LISTS
        var next = get_next();
        if (!next.length) next = $('li.recording').first();
        next.addClass('playing');
        audio.load(next.attr('data-src'));
        audio.play();
      }
    });
    $('li.recording').each(function(index) {
        $(this).attr('id','rec_' + index);
      });
    // Load in the first track
    var audio = a[0];
    first = $('li.recording').attr('data-src');
    if (first) {
        $('li.recording').first().addClass('playing');
        audio.load(first);
        // Load in a track on click
        $('li.recording a.track').click(function(e) {
          e.preventDefault();
          $('li.recording').removeClass('playing');
          $(this).parent().parent().addClass('playing');
          audio.load($(this).parent().parent().attr('data-src'));
          audio.play();
        }); 
    }
    else { $('.audiojs').remove();}
    
{% endblock %}

{% block body %}id="tags_nav"{% endblock %}

{% block content %}

<div class="article">

<h1>{{ object.name|capfirst }}</h1>

{{ object.description|textile }}

{% tagged_objects object in recordings.artist as artists %}

    {% if artists %}
    
    <h2>Performers: </h2>
    
        <audio preload="none"></audio> 
    
          <ol class="performers">
            {% for artist in artists %}
                <li class="performer"><a class="performername" href="/performers/{{ artist.slug }}/">{{ artist.full_name }}</a>
                    {% show_also_artist_tags  %}
                                  
                  {% if artist.performers.all %}
                      <ol class="recordings">
                          {% for o in artist.performers.all %}
                              {% if o.published %}
                                {% if object.name in o.tags %}
                                    {% show_recording o %}                                
                                {% endif %}
                              {% endif %}
                         {% endfor %}
                      </ol>
                  
                  {% else %}
                      {# <p>-</p> #}
                  {% endif %}
                </li>
            {% endfor %}
          </ol>
    {% else %}
    <p>No performers found for this.</p>
    {% endif %}

</div>

{% endblock %}
