<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="EngineClub, engine club, ALISS, NHS Scotland">
	<meta name="description" content="Home of the EngineClub">

	<title>engineclub- {% block title %}{% endblock %}</title>
	<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" media="screen, projection" href="/static/css/screen.css" />
	<!--[if IE 6]>
	  <link href="/static/css/ie6.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	{% block head_extra %}{% endblock %}
</head><body {% block body %}{% endblock %}>

<div id="container">
    <div id="header">
        <h1>rareTunes</h1>
    </div>
    <div id="navigation">
    <ul>
        <li class="home"><a href="/">home</a></li>
        <li class="recordings"><a href="/recordings/">recordings</a></li>
        <li class="performers"><a href="/performers/">performers</a></li>
        <li class="tags_nav"><a href="/tags/">tags</a></li>
        <li class="contact"><a href="/contact/">contact</a></li>
        <li class="faq"><a href="/faq/">FAQ</a></li>

    </ul>
    </div>


    <div id="content">

    {% block content %}
    {% endblock%}
    
    </div>

    <div id="subcontent">

    <div class="small box">
        <strong>Search recordings:</strong>
        <form action="http://www.google.com/cse" id="searchbox_014668001863459659633:267jrzaumjs">
        <input type="hidden" value="014668001863459659633:267jrzaumjs" name="cx"/>
        <input type="text" name="q" />
        <input type="hidden" value="en" name="hl"/>
        <input type="submit" value="Search" name="sa"/>
        <input type="hidden" value="FORID:0" name="cof"/>
        </form>
    </div>

    {% comment %}
    <div class="small box">
        <strong>Search recordings:</strong>
        <form action="/recordings/search/" method="post">{% csrf_token %}
            <fieldset>
            <input type="text" name="terms"></input>
            <input type="submit" value="go"/>
            </fieldset>
        </form>
    </div>
    {% endcomment %}

    {# {% get_latest recordings 10 as latest_recordings %} #}
    {#      #}
    {# {% if latest_recordings %} #}
    {#     <div class="small box"> #}
    {#     <strong>Latest recordings:</strong> #}
    {#     <ul> #}
    {#     {% for i in latest_recordings %} #}
    {#       <li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li> #}
    {#     {% endfor %} #}
    {#     </ul> #}
    {#     </div> #}
    {# {% endif %} #}
    {#  #}
    {# {% get_latest artists 6 as latest_artists %} #}
    {#      #}
    {# {% if latest_artists %} #}
    {#     <div class="small box"> #}
    {#     <strong>Latest artists:</strong> #}
    {#     <ul> #}
    {#     {% for i in latest_artists %} #}
    {#       <li><a href="/performers/{{ i.slug }}/">{{ i.full_name }}</a></li> #}
    {#     {% endfor %} #}
    {#     </ul> #}
    {#     </div> #}
    {# {% endif %} #}
    

    <div class="small box">
    <strong>Links: </strong>
    <ul>
      <!-- li><a href="http://www.scotchmusic.com">ScotchMusic.com</a></li -->
      <!-- li><a href="http://www.jtbairns.com">Jock Tamson's Bairns</a></li -->
      <li><a href="http://archive.org">The Internet Archive</a></li>
      <li><a href="http://creativecommons.org">Creative Commons</a></li>
      <li><a href="http://songbirdnest.com">Songbird player</a></li>
    </ul>
    <p><a href="/links/">more links...</a></p>
    </div>

    <div class="small box"><a href="/contact/">Contact us</a> if you have any suggestions or material you'd like to contribute.</div>

    </div>


    <div id="footer">
    <p>RareTunes Musical Laboratory Services, Scotland.</p>
    </div>

</div>

{# {% block tracker %}<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script> #}
{# <script type="text/javascript">_uacct = "UA-563964-3";urchinTracker();</script>{% endblock %} #}

</body>
</html>
