<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="fiddle music, Scottish, traditional music archive, celtic music, Derek Hoy, Stuart Eydmann">
	<meta name="description" content="Archive of Scottish traditional music">

	<title>RareTunes: {% block title %}{% endblock %}</title>
    <script type='text/javascript' src='/static/js/modernizr-1.6.min.js'></script>
    <script type="text/javascript" src="http://use.typekit.com/mry0xus.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>

	<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" />
	<link rel="stylesheet" type="text/css" media="screen, projection" href="/static/css/screen.css" />
	<!--[if IE 6]>
	  <link href="/static/css/ie6.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	{% block head_extra %}{% endblock %}
    <script type="text/javascript">
      $('document').ready(function(){
        {# $('.js .media').embedly({ #}
        {#   maxWidth: 450, #}
        {#   wmode: 'transparent', #}
        {#   methodx: 'before' #}
        {# }); #}
        {% block js_docready %}{% endblock %}
      });
    </script>   
    {# <script>$(function() { {% block js_docready %}{% endblock %} }</script> #}
</head>
<body {% block body_id %}{% endblock %} class="{% block body_class %}simple{% endblock %}">

<div id="header" class="group">
        <img src="/static/images/dug_02.jpg"></img>
        <h1 class="raretunes"><em>rare</em>Tunes</h1>
        {# <h1 class="raretunes"><span></span><em>rare</em><span></span>Tunes</h1> #}
    <div id="headercontents">
        <ul id="sitenav">
            <li class="home"><a href="/">home</a></li>
            <li class="recordings"><a href="/recordings/">recordings</a></li>
            <li class="performers"><a href="/performers/">performers</a></li>
            <li class="tags_nav"><a href="/tags/">tags</a></li>
            <li class="contact"><a href="/contact/">contact</a></li>
            <li class="faq"><a href="/faq/">FAQ</a></li>
        </ul>
        {# <div class="search"> #}
        {#     <form action="http://www.google.com/cse" id="searchbox_014668001863459659633:267jrzaumjs"> #}
        {#     <input type="hidden" value="014668001863459659633:267jrzaumjs" name="cx"/> #}
        {#     <input type="text" name="q" /> #}
        {#     <input type="hidden" value="en" name="hl"/> #}
        {#     <input type="submit" value="Search" name="sa"/> #}
        {#     <input type="hidden" value="FORID:0" name="cof"/> #}
        {#     </form> #}
        {# </div> #}
    </div>
</div>

<div id="main" class="group">
    <div id="pageintro" class="group">{% block pageintro %}{% endblock%}</div>

    <div id="maincontent">
    {% block content %}{% endblock%}
    </div>

    <div id="sidebar">

    {# <div class="aside links"> #}
    {#     <strong>Search recordings:</strong> #}
    {#     <form action="http://www.google.com/cse" id="searchbox_014668001863459659633:267jrzaumjs"> #}
    {#     <input type="hidden" value="014668001863459659633:267jrzaumjs" name="cx"/> #}
    {#     <input type="text" name="q" /> #}
    {#     <input type="hidden" value="en" name="hl"/> #}
    {#     <input type="submit" value="Search" name="sa"/> #}
    {#     <input type="hidden" value="FORID:0" name="cof"/> #}
    {#     </form> #}
    {# </div> #}

    {% comment %}
    <div class="small box">
        <strong>Search recordings:</strong>
        <form action="/recordings/search/" method="post">{% csrf_token %}
            <fieldset>
            <input type="text" name="terms"></input>
            <input type="submit" value="go"/>
            </fieldset>
        </form>
    </div>
    {% endcomment %}
    <div class="aside links">
            <h3>Latest recordings</h3>
            <ul>

              <li><a href="/recordings/saved-his-grace/">Saved by his Grace</a></li>

              <li><a href="/recordings/swing-low/">Swing low</a></li>

              <li><a href="/recordings/im-trampin/">I'm a trampin'</a></li>

              <li><a href="/recordings/thou-art-my-rock/">Thou art my rock</a></li>

              <li><a href="/recordings/ballad-johnny-ramensky/">Ballad of Johnny Ramensky</a></li>

              <li><a href="/recordings/day-we-went-rothesay-o/">Day we went to Rothesay O</a></li>

              <li><a href="/recordings/land-o-leal/">Land o' the leal</a></li>

              <li><a href="/recordings/my-ain-countrie/">My Ain Countrie</a></li>

              <li><a href="/recordings/rigs-o-rye/">Rigs o rye</a></li>

              <li><a href="/recordings/now-westlin-winds-and-slaughtring-guns/">Now westlin winds and slaught'ring guns</a></li>

            </ul>
            <p><a href="/">more</a> »</p>
            </div>
    {# {% get_latest recordings 10 as latest_recordings %} #}
    {#      #}
    {# {% if latest_recordings %} #}
    {#     <div class="small box"> #}
    {#     <strong>Latest recordings:</strong> #}
    {#     <ul> #}
    {#     {% for i in latest_recordings %} #}
    {#       <li><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></li> #}
    {#     {% endfor %} #}
    {#     </ul> #}
    {#     </div> #}
    {# {% endif %} #}
    {#  #}
    <div class="aside links">
            <h3>Latest artists</h3>
            <ul>

              <li><a href="/performers/william-macewan/">William MacEwan</a></li>

              <li><a href="/performers/john-maccoll/">John MacColl</a></li>

              <li><a href="/performers/rev-d-duncan-mcneill/">Rev D. (Duncan) McNeill</a></li>

              <li><a href="/performers/edward-machugh/">Edward MacHugh</a></li>

              <li><a href="/performers/stuart-macgregor/">Stuart Macgregor</a></li>

              <li><a href="/performers/bob-and-bert/"> Bob and Bert</a></li>

            </ul>
            <p><a href="/">more</a> »</p>
            </div>
    {# {% get_latest artists 6 as latest_artists %} #}
    {#      #}
    {# {% if latest_artists %} #}
    {#     <div class="small box"> #}
    {#     <strong>Latest artists:</strong> #}
    {#     <ul> #}
    {#     {% for i in latest_artists %} #}
    {#       <li><a href="/performers/{{ i.slug }}/">{{ i.full_name }}</a></li> #}
    {#     {% endfor %} #}
    {#     </ul> #}
    {#     </div> #}
    {# {% endif %} #}
    

    <div class="aside links">
    <h3>Links</h3>
    <ul>
      <li><a href="http://archive.org">The Internet Archive</a></li>
      <li><a href="http://creativecommons.org">Creative Commons</a></li>
      <li><a href="http://songbirdnest.com">Songbird player</a></li>
    </ul>
    <p><a href="/links/">more</a> »</p>
    </div>

    <div class="aside links">
        <p><a href="/contact/">Contact us</a> if you have any suggestions or material you'd like to contribute.</p>
    </div>

    </div>
</div>


<div id="footer">
    <p>Unless otherwise specified, content on this site is licensed under a <br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>
    <p>Code for RareTunes.org is now <a href="http://github.org/snowcloud/raretunes">open source</a>.</p>
    <p>RareTunes Musical Laboratory Services, Scotland, Est. 2006</p>
</div>


{# {% block tracker %}<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script> #}
{# <script type="text/javascript">_uacct = "UA-563964-3";urchinTracker();</script>{% endblock %} #}

</body>
</html>
