<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="fiddle music, Scottish, traditional music archive, celtic music, Derek Hoy, Stuart Eydmann">
	<meta name="description" content="Archive of Scottish traditional music">

	<title>RareTunes: {% block title %}{% endblock %}</title>
    <script type='text/javascript' src='/static/js/modernizr-1.6.min.js'></script>
    <script type="text/javascript" src="http://use.typekit.com/mry0xus.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>

	<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" />
	<link rel="stylesheet" type="text/css" media="screen, projection" href="/static/css/screen.css" />
	<!--[if IE 6]>
	  <link href="/static/css/ie6.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<![endif]-->
	{% block head_extra %}{% endblock %}
    <script type="text/javascript">
      $('document').ready(function(){
        {# $('.js .media').embedly({ #}
        {#   maxWidth: 450, #}
        {#   wmode: 'transparent', #}
        {#   methodx: 'before' #}
        {# }); #}
        {% block js_docready %}{% endblock %}
      });
    </script>   
</head>
<body {% block body_id %}{% endblock %} class="{% block body_class %}simple{% endblock %}">

<div id="header" class="group">
	<div id="headercontents" class="group">
		<div id="logo" class="group">
            <img src="/static/images/dug_02.jpg">
		    <h1 class="raretunes"><em>rare</em>Tunes</h1>
            {# <h1><img src="img/logo-lofi.gif" alt="Tugboat" /></h1> #}
		</div>
    </div>
    <div id="sitenav" ><div id="sitenav-inner">
        <ul class="group">
            <li class="home"><a href="/">home</a></li>
            <li class="recordings"><a href="/recordings/">recordings</a></li>
            <li class="performers"><a href="/performers/">performers</a></li>
            <li class="tags_nav"><a href="/tags/">tags</a></li>
            <li class="contact"><a href="/contact/">contact</a></li>
            {# <li class="faq"><a href="/faq/">FAQ</a></li> #}
        </ul>
        <div id="search">
            <form action="http://www.google.com/cse" id="searchbox_014668001863459659633:267jrzaumjs">
            <input type="hidden" value="014668001863459659633:267jrzaumjs" name="cx"/>
            <input type="text" name="q" />
            <input type="hidden" value="en" name="hl"/>
            <input type="submit" value="Search" name="sa"/>
            <input type="hidden" value="FORID:0" name="cof"/>
            </form>
        </div>
    </div></div>
</div> <!-- /header -->


{% comment %}
    
<div id="header" class="group">
        <img src="/static/images/dug_02.jpg">
        <h1 class="raretunes"><em>rare</em>Tunes</h1>
        {# <h1 class="raretunes"><span></span><em>rare</em><span></span>Tunes</h1> #}
    <div id="headercontents">
        <ul id="sitenav">
            <li class="home"><a href="/">home</a></li>
            <li class="recordings"><a href="/recordings/">recordings</a></li>
            <li class="performers"><a href="/performers/">performers</a></li>
            <li class="tags_nav"><a href="/tags/">tags</a></li>
            <li class="contact"><a href="/contact/">contact</a></li>
            <li class="faq"><a href="/faq/">FAQ</a></li>
        </ul>
        {# <div class="search"> #}
        {#     <form action="http://www.google.com/cse" id="searchbox_014668001863459659633:267jrzaumjs"> #}
        {#     <input type="hidden" value="014668001863459659633:267jrzaumjs" name="cx"/> #}
        {#     <input type="text" name="q" /> #}
        {#     <input type="hidden" value="en" name="hl"/> #}
        {#     <input type="submit" value="Search" name="sa"/> #}
        {#     <input type="hidden" value="FORID:0" name="cof"/> #}
        {#     </form> #}
        {# </div> #}
    </div>
</div>
{% endcomment %}

<div id="main" class="group">
{% block main %}{% endblock main %}
</div>


<div id="footer">
    <p>
        <a href="/">home</a> |
        <a href="/recordings/">recordings</a> |
        <a href="/performers/">performers</a> |
        <a href="/tags/">tags</a> |
        <a href="/contact/">contact</a> |
        <a href="/faq/">FAQ</a> |
        <a href="/links/">Links</a>
    </p>
    <br>
    <p>Unless otherwise specified, content on this site is licensed under a <br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>
    <p>Code for RareTunes.org is now <a href="http://github.org/snowcloud/raretunes">open source</a>.</p>
    <p>RareTunes Musical Laboratory Services, Scotland, Est. 2006</p>
</div>


{# {% block tracker %}<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script> #}
{# <script type="text/javascript">_uacct = "UA-563964-3";urchinTracker();</script>{% endblock %} #}

</body>
</html>
