{% extends "base.html" %}
{% load markup recordingtags tagging_tags %}

{% block title %}{{ object.full_name }}{% endblock %}

{% block head_extra %}
{# <link rel="stylesheet" type="text/css" href="/media/player.css" media="screen" /> #}
{# <script type="text/javascript" src="/media/js/jquery.js"></script> #}
{# <script type="text/javascript" src="/media/js/player.js"></script> #}
{#  #}
{# <!-- <script type="text/javascript" src="/media/js/swfobject.js"></script> #}
{# <script type="text/javascript" src="/media/js/jquery.js"></script> #}
{# script type="text/javascript" src="/media/js/player.js"></script> #}
{# <script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script --> #}
{# <script type="text/javascript" src="/static/js/audio-player.js"></script>   #}
{# <script type="text/javascript">   #}
{#     AudioPlayer.setup("/static/js/player.swf", { #}
{#         width: 300   #}
{#     });   #}
{# </script> #}
<script src="/static/js/audiojs/audio.min.js"></script>
{# <script> #}
{#   audiojs.events.ready(function() { #}
{#     var as = audiojs.createAll(); #}
{#   }); #}
{# </script> #}


{% endblock %}
{% block js_docready %}
    // Setup the player to autoplay the next track
    var a = audiojs.createAll({
      trackEnded: function() {
        var next = $('dt.playing').nextAll('.recording').first();
        if (!next.length) next = $('dt.recording').first();
        next.addClass('playing').siblings().removeClass('playing');
        audio.load(next.attr('data-src'));
        audio.play();
      }
    });
    // Load in the first track
    var audio = a[0];
    first = $('dt.recording').attr('data-src');
    $('dt.recording').first().addClass('playing');
    audio.load(first);
    // Load in a track on click
    $('dt.recording').click(function(e) {
      e.preventDefault();
      $(this).addClass('playing').siblings().removeClass('playing');
      audio.load($(this).attr('data-src'));
      audio.play();
    });




{% endblock %}
{% block body %}id="performers"{% endblock %}

{% block content %}

<div class="article">
    <div class="group">
    {% if object.pic %}<img class="pic" src="/static/{{ object.pic }}" alt="picture of {{ object.full_name }}"/>{% endif %}
    <h1>{{ object.full_name }}</h1>
    {% if object.year_of_birth or object.year_of_death %}<p class="">
        {% if object.year_of_birth %}b. {{ object.year_of_birth }}&nbsp;&nbsp;&nbsp;{% endif %}
        {% if object.year_of_death %}d. {{ object.year_of_death }}{% endif %}
    </p>{% endif %}
    
        {{ object.note|textile }}
    </div>
    <div class="info">
    {% if object.url %}web: <ul class="tags"><li><a href="{{ object.url }}">{{ object.url }}</a></li></ul>{% endif %}
    <br/>
    {% show_tags object %}
    </div>           
</div>
<br/>
<div class="article"><h1>Recordings</h1>

    {% if object.performers.all %}

  {# <p><audio src="http://media.raretunes.org/raretunesmikebbucks_vbr.mp3"/></p> #}
    <audio></audio> 
    
    <dl class="recordings">
        {% for o in object.performers.all %}
          {% if o.published %}
            {% show_recording o %}
          {% endif %}
        {% endfor %}
    </dl>

    {% else %}
        <p>No recordings yet.</p>
    {% endif %}
    <br>
</div>


{% endblock %}