{% extends "base.html" %}
{% load markup sitevars %}

{% block title %}performers{% endblock %}

{% block body %}id="performers"{% endblock %}

{% block content %}

<div class="box"><h1>Performers</h1>
<p>Where possible, the permission of performers has been obtained before making these recordings available. If you have any questions about a recording, please contact us.</p>
</div>

<div class="box"><h1>Index</h1>

    {% if object_list %}
        <ul>
            {% for object in object_list %}
                <li><a href="/performers/{{ object.slug }}">{{ object }}</a> -
                    <ul class="tags">{% for t in object.tags.all %}<li><a href="/tags/{{ t.slug }}/">{{ t.name }}</a>{% if not forloop.last %}, {% endif %}</li>{% endfor %}</ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No performers found.</p>
    {% endif %}



</div>


{% endblock %}