{% extends "recordings/recording_base.html" %}
{% load markup recordingtags tagging_tags %}

{% block title %}{{ object.full_name }}{% endblock %}

{% block body %}id="performers"{% endblock %}

{% block content %}

<div class="article">
    <div class="group">
    {% if object.pic %}<div class="pic"><img src="/static/{{ object.pic }}" alt="picture of {{ object.full_name }}"/>
            
            {{ object.pic_credit|default:""|textile }}
        </div>{% endif %}
    <h1>{{ object.full_name }}</h1>
    {% if object.year_of_birth or object.year_of_death %}<p class="">
        {% if object.year_of_birth %}b. {{ object.year_of_birth }}&nbsp;&nbsp;&nbsp;{% endif %}
        {% if object.year_of_death %}d. {{ object.year_of_death }}{% endif %}
    </p>{% endif %}
    
        {{ object.note|textile }}
            
    {% if object.additional_info %}<p><a href="#additional-info">additional information &hellip;</a></p>{% endif %}
        
    </div>
    <div class="info">
    {% if object.url %}web: <ul class="tags"><li><a href="{{ object.url }}">{{ object.url }}</a></li></ul>{% endif %}
    <br/>
    {% show_tags object %}
    </div>           
</div>
<br/>
<div class="article"><h2>Recordings</h2>

    {% if object.performers.all %}

    <audio preload="none"></audio> 
    
    <ol class="recordings">
        {% for o in object.performers.all %}
          {% if o.published %}
            {% show_recording o %}
          {% endif %}
        {% endfor %}
    </ol>

    {% else %}
        <p>No recordings yet.</p>
    {% endif %}
    <br>
</div>

{% if object.additional_info %}
    <div id="additional-info" class="article">
        <div class="group">
        <h2>Additional information</h2>
        {{ object.additional_info|textile }}
        </div>
    </div>
    
{% endif %}

{% endblock %}