{% extends "base.html" %}
{% load markup sitevars recordingtags tagging_tags %}

{% block title %}performers{% endblock %}

{% block body %}id="performers"{% endblock %}

{% block content %}

<div class="article"><h1>Performers</h1>
<p>Where possible, the permission of performers has been obtained before making these recordings available. If you have any questions about a recording, please contact us.</p>

    {% if object_list %}
        <ul>
            {% for object in object_list %}
                <li><a href="/performers/{{ object.slug }}">{{ object }}</a> -
                    {% show_tags_nolabel object %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No performers found.</p>
    {% endif %}



</div>


{% endblock %}