{% extends "recordings/recording_base.html" %}
{% load markup recordingtags pagination_tags %}
{# {% load markup recordingtags audioplayer pagination_tags %} #}

{% block title %}recordings{% endblock %}


{% block content %}

<div class="article">
{% if latest %}
    <h1>Latest Recordings</h1>

    <p>These are our recordings in order of addition to RareTunes. You can also see a <a href="{% url recordings %}">full list of recordings</a>.</p>

{% else %}<h1>Recordings</h1>{% endif %}

<p>The recordings range from near-studio quality to crowded and noisy house sessions, from digital media to old bits of tape to 78 rpm discs.</p>
</div>

<div class="article">

{% autopaginate object_list 25 %}
{% if object_list %}

    {% paginate %}
   
    <audio preload="none"></audio> 

    <ol class="recordings">
       
       {% for object in object_list %}
           {% if object.published %}
             {% show_recording object %}
           {% endif %}
       {% endfor %}
    </ol>
    <br>
    {% paginate %}
{% else %}
    <p>No recordings found.</p>
{% endif %}


</div>


{% endblock %}